html {
    height: 100% /* This is get rid of gray screen if background no-repeat is put to no-repeat */
}


body {
    background-color: rgb(46, 46, 46);
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left:auto;
    margin-right:auto;
    width: 1024px;

}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.308); /* 4th dimension is transparency */
    /* height:40px; */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;



}

main { /* NOTE FOR MARGIN AND PADDING: margin formats external parts of the container while 
        padding formats the internal parts of the container */
    height:400px;
    text-align: center;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;

}

footer {
    background-color: rgba(0, 0, 0, 0.712);
    height:100px;
    text-align: center;
    padding-top: 55px;

}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right:10px;
}

/* .no-underline {
    text-decoration: none;
} */

footer p {
    font-size: 10px;
    color: white;
}

.maps {
    padding-bottom: 50px;
}